<h2>crear cuenta</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
<%= devise_error_messages! %>
<div class="from-group">
	<%= f.label  :email,"correo electronico"%>
	<%= f.email.field :email, autofocus: true, autocomplete: "email", class: "from-control"%>
</div>
<di class="from-group">
	<%= f.label :password, "contraseña"%>
	<% if @mininum_password_length%>
	<em>(<%= @mininum_password_length%> characters minium)</em>
	<%end%>
	<%= f.password_field :password, class: "from-control"%>
</di>
<div class="from-control">
	<%= f.label :password_confirmation, "confirmar contraseña" %>
	<%= f.password_field :password_confirmation, class: "from-control"%>
</div>


end
